<header>Vent</header>

<p>About: Lorem ipsum dolor sit amet, vehicula laoreet nibh voluptatem vulputate cubilia, vehicula ut at at donec, orci in nunc per duis fusce, blanditiis lacus id aptent. Vitae hendrerit libero commodo praesent fusce, dui iaculis donec viverra volutpat. Augue dictum ante. Reiciendis leo etiam vitae, semper et neque vitae vel sodales eros, cras ut ligula, in nisl ut tempor blandit curabitur, convallis perferendis gravida enim nonummy diam. Urna tincidunt diam tincidunt, volutpat amet leo rhoncus feugiat tellus nascetur, nec ipsum fermentum in elit, posuere dolor. Velit nonummy nunc et, gravida quis lacus, wisi sapien lacus suspendisse.</p>

<a href="/login">Log In</a>
<a href="/signup">Sign Up</a>