<link rel="stylesheet" type="text/css" href="style.css">

<img alt="My Little Pony Font" src="http://fontmeme.com/freefonts/img.php?f=34791&s=90&t=Welcome%20to%20%0ABronie%20Land!&c=FF00CC">

<p>Hey everybody! Welcome to Bronie Land! A world filled with hugs
and sparkles where you can connect with other Bronies like yourself! After all, the magic of friendship is what it's all about! Oh, isn't that just so exciting?! Just think of all the rainbows and cupcakes that await you! Membership is free, so if you don't have an account yet click the link below to come on in to our wonderful world! See you on the other side of the rainbow!.</p>


<nav>
<li><a href="/login">Log in, pinky pie! <img id="pic" src="http://www.terrariaonline.com/data/avatars/m/47/47461.jpg?1355716479"></a></li>

<li><a href="/signup">I need a shiny new account! <img id="pic" src="https://wiki.teamfortress.com/w/images/thumb/2/2b/Userbox_Brony_Sweetie_Belle.png/42px-Userbox_Brony_Sweetie_Belle.png?t=20110710140325"></a></li>
</nav>



 <div class="divider">
 <img alt="My Little Pony Font" src="http://fontmeme.com/freefonts/img.php?f=34791&s=50&t=Featured%20Bronie%20Dudes%20:&c=FF00CC">
 </div>

 <div class="divider_two">
 <img src="images/divider.png">
 </div>

  <div class="featured">

    <img src = "images/dan.png" height="300px" width="300px">


    <img src = "images/ricky.png" height="300px" width="300px">

    <img src = "images/orlando.png" height="300px" width="300px">
  
  </div>