<link rel="stylesheet" type="text/css" href="style.css">

<header>DAMN.</header>

<img src="https://media.giphy.com/media/ddd0HBTakik00/giphy.gif">

<p>About: Lorem ipsum dolor sit amet, vehicula laoreet nibh voluptatem vulputate cubilia, vehicula ut at at donec, orci in nunc per duis fusce, blanditiis lacus id aptent. Vitae hendrerit libero commodo praesent fusce, dui iaculis donec viverra volutpat. Augue dictum ante. Reiciendis leo etiam vitae, semper et neque vitae vel sodales eros, cras ut ligula.</p>

<nav>
<li><a href="/login">Log In!</a></li>
<li><a href="/signup">Daaamn, Don't have an account? Sign Up!</a></li>
</nav>
