<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Vent</title>
	<script type="text/javascript" src="main.js"></script>
	<link rel="stylesheet" type="text/css" href="style.css">
<!-- font link -->
  <link href='https://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>
</head>

</h1>
<body>
	<%= yield %>
</body>

</html>