
<link rel="stylesheet" type="text/css" href="login.css">


<img alt="My Little Pony Font" src="http://fontmeme.com/freefonts/img.php?f=34791&s=70&t=Welcome%20back%20Bronie!%0A%20%20%20%20%20%20%20%20%20%20%20Log%20in%20below:&c=FF00CC"></a>




<form method= "POST" action="/login">
  <label for="name">Username</label>
  <input type="text"  name="name">
  <br>
  <br>
  <label for="password">Password</label>
  <input type="password" name="password">
  <br>
  <br>
  <input type="submit">
</form>
