<link rel="stylesheet" type="text/css" href="posts.css">

<div id="post">

<form method="POST" action="/posts" id="blog">
  <!-- <label for="body">Hi Bronies, go ahead and talk about your ponies...</label> -->
  <h1>Hey Bronies, go ahead and talk about your ponies...</h1>
  <input type="text" name="body" maxlength="150">
  <input type="submit">
</form>

<h2>Your Posts:</h2>
	
	<div class = "user_post">
	  <%# @posts.each do |post| %>
	  <p class = "post_body">  
	 		<ul>
      <% @posts.each do |post|%>
      <%=post.body%>
      <%end%>
	  </p>
	 	<%# end %>  
	</div>

<div id="accountInfo">
<%# @users.each do |user| %>
  <h3>Name:</h3>
    <p><%= @users.name %></p>
  <h3>Email:</h3>
    <p><%= @users.email %></p>
    <%# end %>
</div>

<div id="preferences">
	<form method="get" action="/profile">
		<input type="submit" value="Account Preferences">
	</form>
</div>

<div id="logout">
	<form method="get" action="/logout">
		<input type="submit" value="Logout">
	</form>
</div> 

