<h1> *types long paragraph*
<br>
<br>
*deletes*</h1>


<div id="post">

<form method= "POST" action="/post">
  <label for="body">DAAAMNN WHAT HAPPENED TO YOU?</label>
  <input type="text" name="name">
  <input type="submit">
</form>

</div>