<link rel="stylesheet" type="text/css" href="signup.css">

<img alt="My Little Pony Font" src="http://fontmeme.com/freefonts/img.php?f=34791&s=38&t=You're%20one%20step%20closer%20to%20fun%20and%20sparkles!%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20Sign%20up%20below!&c=FF00CC">

<form method= "POST" action="/signup">
  <label for="name">Username</label>
  <input type="text" name="name">
  <br>
  <br>
  <label for="email">Email</label>
  <input type="text" name="email">
  <br>
  <br>
  <label for="password">Password</label>
  <input type="password" name="password">
  <br>
  <br>
  <input type="submit">
</form>

<p>Already a member? <a href="/login">Sign in</a></p>

</div>
