img {
margin-left: 200px;
}

p {
  font-family: 'Amatic SC', cursive;
  color: black;
  font-size: 30px;
  width: 700px;
  margin-left: 300px;

/*  margin-left: 50px;*/

}

#pic {
  width: 50px;
  float: left;
}

nav {
    list-style:none;
    text-decoration: none;
    display: inline-block;      
    font-size: 50px;
    font-family: 'Amatic SC', cursive;
    color: pink;
    margin-left: 20px;
    margin-bottom: 20px;

}

li{
  display: inline-block;

}

a {
  text-decoration: none;
  color: black;

}

a:hover {
  text-decoration: none;
  font-family: 'Amatic SC', cursive;
  color: purple;

}

/*body {
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/17/63/f5/1763f54e0556bdb862ff1db6edbeaef8.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  width: 950px;
/*  background-attachment: fixed;*/



/*form {
  margin-left: 420px;
  font-family: 'Amatic SC', cursive;
  font-size: 50px;

}*/

/*label {
  display: block;
}

input {
  width: 300px;
  height: 50px;
  font-size: 30px;
  font-family: 'Amatic SC', cursive;
  color: rgb(134, 43, 224);
  border: 3px solid #4195fc;
}*/

/*h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 75px;
  text-align: center;
}*/

/*.container {
  display: inline-block;
  width: 970px;
  margin-left: 200px;
  margin-top: 50px;

}*/

/*.featured {
  margin-left: 200px;
  display: inline;
}
*/


/*#footer {
 text-align: center;
 float: center;
 background-color: black;
 height: 100px;
 width: 1200px;
 margin-top: 25px;
 margin-left: 25px;
}*/
