body {
  background-color: white;
}

header {
  font-size: 250px;
  font-family: 'Amatic SC', cursive;
  text-align: center;
}

p {
  font-family: 'Amatic SC', cursive;
  text-align: center;
  font-size: 35px;
  width: 900px;
  margin-left: 175px;
}

nav {
    list-style:none;
    text-decoration: none;
    display: inline-block;      
    font-size: 75px;
    font-family: 'Amatic SC', cursive;
/*    padding-top:30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;*/
    margin-left: 175px;
/*    padding-left: 80px;*/
/*    margin-right: 100px;*/
    text-align: center;
}

li {





}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  font-family: 'Amatic SC', cursive;
  color: red;

}

img {
  margin-left: 350px;
  width: 500px;
}

form {
  margin-left: 320px;
  font-family: 'Amatic SC', cursive;
  font-size: 50px;

}

label {
  display: block;
}

input {
  width: 300px;
  height: 50px;
}